**Problem No: 1148**

**Problem Name: Article Views I**

In [1]:
import pandas as pd

In [2]:
# Create DataFrame

data = [
    [1, 3, 5, '2019-08-01'], 
    [1, 3, 6, '2019-08-02'], 
    [2, 7, 7, '2019-08-01'], 
    [2, 7, 6, '2019-08-02'], 
    [4, 7, 1, '2019-07-22'], 
    [3, 4, 4, '2019-07-21'], 
    [3, 4, 4, '2019-07-21']
    ]
views = pd.DataFrame(
    data, 
    columns=['article_id', 'author_id', 'viewer_id', 'view_date']
    ).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [3]:
views

   article_id  author_id  viewer_id  view_date
0           1          3          5 2019-08-01
1           1          3          6 2019-08-02
2           2          7          7 2019-08-01
3           2          7          6 2019-08-02
4           4          7          1 2019-07-22
5           3          4          4 2019-07-21
6           3          4          4 2019-07-21

In [ ]:
# Create a boolean mask showing True where author_id equals viewer_id 

views['author_id'] == views['viewer_id'] # check

0    False
1    False
2     True
3    False
4    False
5     True
6     True
dtype: boolean

In [ ]:
# Filter and keep only rows where author viewed their own article 

view = views[views['author_id'] == views['viewer_id']]
#view

   article_id  author_id  viewer_id  view_date
2           2          7          7 2019-08-01
5           3          4          4 2019-07-21
6           3          4          4 2019-07-21

In [ ]:
# Remove duplicate rows and sort by author_id in ascending order

distinct = view.drop_duplicates().sort_values(by = 'author_id')
distinct

   article_id  author_id  viewer_id  view_date
5           3          4          4 2019-07-21
2           2          7          7 2019-08-01

In [ ]:
# Select only the author_id column and rename it to 'id' for final output

result = distinct[['author_id']].rename(columns = {'author_id' : 'id'})
result

   id
5   4
2   7

In [13]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:

    view = views[views['author_id'] == views['viewer_id']]
    distinct = view[['author_id']].drop_duplicates().sort_values(by= 'author_id')
    return distinct[['author_id']].rename(columns = {'author_id' : 'id'})

In [14]:
result = article_views(views)
result

   id
5   4
2   7