**Problem No: 1757**

**Problem Name: Recyclable and Low Fat Products**

In [1]:
import pandas as pd

### Create DataFrame

In [6]:
data = [
    ['0', 'Y', 'N'],
    ['1', 'Y', 'Y'], 
    ['2', 'N', 'Y'], 
    ['3', 'Y', 'Y'], 
    ['4', 'N', 'N']
    ]

products = pd.DataFrame(
    data, 
    columns=['product_id', 'low_fats', 'recyclable']
)

In [9]:
(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [10]:
products[ (products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]

  product_id low_fats recyclable
1          1        Y          Y
3          3        Y          Y

In [12]:
### Define the solution class 

def find_products(products: pd.DataFrame) -> pd.DataFrame:

    df = products[ (products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]

    return df[['product_id']]

In [14]:
result = find_products(products)
result

  product_id
1          1
3          3