**Problem No: 183**

**Problem Name: Customers Who Never Order**

In [1]:
# Create 

import pandas as pd

data = [
    [1, 'Joe'], 
    [2, 'Henry'], 
    [3, 'Sam'], 
    [4, 'Max']
    ]
    
customers = pd.DataFrame(
    data, 
    columns=['id', 'name']
    ).astype({'id':'Int64', 'name':'object'})

data = [
    [1, 3], 
    [2, 1]
    ]
orders = pd.DataFrame(
    data, 
    columns=['id', 'customerId']
    ).astype({'id':'Int64', 'customerId':'Int64'})

In [2]:

customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [3]:
orders

   id  customerId
0   1           3
1   2           1

In [4]:
# Left join customers + orders

merged = pd.merge(customers, orders, left_on = 'id', right_on = 'customerId', how = 'left')
merged

   id_x   name  id_y  customerId
0     1    Joe     2           1
1     2  Henry  <NA>        <NA>
2     3    Sam     1           3
3     4    Max  <NA>        <NA>

In [5]:
# check null values
merged['customerId'].isna()

0    False
1     True
2    False
3     True
Name: customerId, dtype: bool

In [6]:
# Filters customers with No orders

merged = merged[merged['customerId'].isna()]  # never order customer
merged

   id_x   name  id_y  customerId
1     2  Henry  <NA>        <NA>
3     4    Max  <NA>        <NA>

In [7]:
# Select only name and rename column

merged[['name']].rename(columns= {'name':'Customers'})

  Customers
1     Henry
3       Max

In [8]:


def find_customers(customers : pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:

    merged = pd.merge(customers, orders, left_on = 'id', right_on = 'customerId', how = 'left')
    merged = merged[merged['customerId'].isna()]

    return merged[['name']].rename(columns= {'name': 'Customers'})

In [9]:
result = find_customers(customers, orders)
result

  Customers
1     Henry
3       Max