**Problem No: 595**

**Problem Name: Big Countries**

In [1]:
import pandas as pd

### Create World DataFrame (Input Schema)

In [ ]:

data = [
    ['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
    ['Albania', 'Europe', 28748, 2831741, 12960000000],
    ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
    ['Andorra', 'Europe', 468, 78115, 3712000000],
    ['Angola', 'Africa', 1246700, 20609294, 100990000000]
]

world = pd.DataFrame(
    data,
    columns=['name', 'continent', 'area', 'population', 'gdp']
).astype({
    'name': 'object',
    'continent': 'object',
    'area': 'Int64',
    'population': 'Int64',
    'gdp': 'Int64'
})


world

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

### Define Solution Function

In [ ]:

def big_countries(world: pd.DataFrame) -> pd.DataFrame:

    df = world[
        (world["area"] >= 3000000) | (world["population"] >= 25000000)
    ]

    return df[["name", "population", "area"]]

In [4]:
result = big_countries(world)
result

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741